**/node_modules/**/*
**/.env/**/*
**/.ipynb_checkpoints/**/*
**/data/**/*
**/venv/**/*

# Ignoring eclipse project related files and folders
**/.classpath
**/.project
**/.classpath/**/*
**/.project/**/*
**/.metadata/**/*
**/.settings/**/*
