:root {
  --color-primary: rebeccapurple;
}

h1 {
  color: var(--color-primary);
}

a {
  --color: var(--color-primary);
  --hover-color: green;

  color: var(--color);
}

a:hover {
  color: var(--hover-color);
}

@import "demo";