.card {
  display: grid;
  grid-template-rows: auto 1fr;
  background: #fff;
  box-shadow: 0 2px 5px rgba(black, 0.3);
  border-radius: 8px;

  .card__content {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-self: stretch;

    h3 {
      margin: 0;
      color: rebeccapurple;
      font-size: 1.5rem;
    }

    p {
      color: #767676;
      margin: 1rem 0;
    }

    a {
      display: inline-flex;
      min-height: 34px;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      padding: 0 0.75em;
      font-size: 1.125rem;
      color: #fff;
      background-color: rebeccapurple;
      border-radius: 4px;
      margin-top: auto;
      align-self: start;
    }
  }
}

ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  grid-gap: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  grid-gap: 2rem;
  font-family: "Baloo 2", sans-serif;
  padding: 1rem;
  background-color: lavender;
}

main {
  width: 100%;
  max-width: 120ch;
  display: grid;
  place-items: center;
  grid-gap: 2rem;
}
