* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
  background-color: #bc7ec9;
}

h1,
h2,
h3 {
  font-weight: 500;
}

.card {
  width: 60ch;
  max-width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}